* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #212121;
}
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
background: transparent;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;


}
.logo{
font-size: 25px;
    color: white; 
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideright 1s ease forwards ;

}
.myname{
    font-size: 25px;
    color: #3498db;
    text-decoration: none;
    font-weight: 600;

    
}
.title{
    position: relative;
    font-size: 20px;
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}
.title :hover ::before{
    position: absolute;
    content: "Software Engineer";
    z-index: 1;
}
.title :hover ::after{
    position: absolute;
    content:" ";
    z-index: 0;
}
.navbar a{
    display: inline-block;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s; 
    opacity: 0; 
    animation: slidetop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}
.navbar a:hover, .navbar a.active{
    color: #3498db;
} 
.home {
    position: relative;
    width: 100%;
    height: 100vb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;  
}
.home-content{
    max-width: 600px;
}
.home-content h3{
color: white;
    font-size: 60px;
    font-weight: 700;
    opacity: 0;
    animation: slidebottom 1s ease forwards ;
    animation-delay: .7s;

}

.home-content h3 span{
    color: #3498db;
}

.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slidetop 1s ease forwards ;
    animation-delay: .7s;
}

.home-content p{
    font-size: 16px;
    color: white;
    opacity: 0;
    animation: slideleft 1s ease forwards ;
    animation-delay: 1s;

}


.home-content h1{
    color: white;
    font-size: 56px;
    font-weight: 700;
    margin: 3px 0;
    opacity: 0;
    animation: slideright 1s ease forwards ;
    animation-delay: 1s;
}

.home-img img{
max-width: 450px;
margin: -20px;
opacity: 0;


animation: scale 1s ease forwards, floatimage 4s ease-in-out infinite ;
animation-delay: .7s, 3s;
transition: 3s;
}

.btn{
    margin-top: 100px;
    display: inline-block;
    padding: 12px 28px;
    background: #3498db;
    border-radius: 40px;

    box-shadow: 0 0 10px #333333;
    font-size: 16px;
    color: #212121;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    animation: floatimage 4s ease-in-out infinite ;
    animation-delay: 0s;
}

@keyframes slideright{
     0%{
        transform: translateX(-100px);
        opacity: 0;
     }
     100%{
        
        transform: translateX(0);
        opacity: 1;
     }

}

@keyframes slidetop{
    0%{
       transform: translateY(-100px);
       opacity: 0;
    }
    100%{
       transform: translateY(0);
       opacity: 1;
    }

}

@keyframes slidebottom{
    0%{
       transform: translateY(-100px);
       opacity: 0;
    }
    100%{
       transform: translateY(0);
       opacity: 1; 
    }

}
@keyframes slideleft{
    0%{
       transform: translateX(100px);
       opacity: 0;
    }
    100%{
       transform: translateX(0);
       opacity: 1; 
    }

}
@keyframes scale{
    0%{
       transform: scale(0);
       opacity: 0;
    }
    100%{
       transform: scale(1);
       opacity: 1; 
    }

}
@keyframes floatimage{
    0%{
       transform: translateY(0);
       filter: blur(0px);
    }
    50%{
      transform: translateY(-24px);
      opacity: 0.8;
      filter: blur(1px);
    }
    100%{
       transform: translateY(0);
       filter: blur(0px);
    }

}